body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,
button {
    transition: all .3s ease-in-out;
    outline: none!important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    margin: 0 5px 5px 0;
}

button {
    outline: none!important;
}

li{
    height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
.btn,
a {
    font-family: "helvetica";
    font-weight: 400;
    color: #b5b5b5;
}

.h1 {
    font-size: 20px;
    font-family: "Open Sans";
}

h2 {
    font-size: 22px;
    line-height: 1.4em;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333!important;
}


h1 {
    color: #333333!important;
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
   
}
.table_div {
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
    margin: 2% 10% 2% 10%;
    width: 80%;
    height: auto;
    
}

.image2{
    width: auto;
    height: 55px;
}

.image{
    position: relative;
    width: 400px;
    height: 400px;
   
    
}
.sold {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
}

img{
    width: 100%;
    height: 100%;
}
.data_table_flex1{
 border-collapse: collapse;
 width: 100%;
}
.data_table_flex{
    width: 33%;


}
.text{
    text-align: center;
    margin: 0;
    margin-top: 2%;
}

.data_image_flex{
    width: 100%;
    display: flex;
    justify-content: center;

}

table{
    width: 100%;
    
    }
td , tr ,th{
        border: 0.5px solid black;
        }
td {
    text-align: center;
}
.text_align_left {
    text-align: left;
}

.blue_background {
background-color:  #007EC3;
color: white;
}
.black_background{
    background-color:black;
    color: white;  
} 

.light_blue_background{
   text-align: center;
    background-color: #007EC3;
    color: white;  
    background-color: lighten
}   
.silver_background{
    background-color:darkgrey;
} 
.blue_text{
    color: #007EC3;
    font-weight: bold;
} 


@media (max-width: 1200px) {
    .image2{
        width: auto;
        height: 105px;
    }
    .image{
        width: 400px;
        height: 400px;
    }
    
    img{
        width: 100%;
        height: 100%;
    }

    .table_div {
        display: flex;
        flex-direction: column;
        overflow-x:scroll;
        margin: 2% 2% 2% 2%;
        width: 96%;
        height: auto;
    }
    .data_table_flex{
        width: 100%;
        margin-bottom: 2%;
    
    }
    .data_table_flex1{
        border-collapse: collapse;
        width: 100%;
       }
    table , tr ,th{
        width: 100%;
        border: 0.5px solid black;
        }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
        display: inline-block;
        width: 100%;
        column-span: all;
        border: 0.5px solid black;
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
	}
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 100%; 
		/*padding-right: 10px; */
		white-space: nowrap;
	}
}
  
  
